<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.board.mapper.BoardMapper">

	<insert id="register">
		INSERT INTO TBL_BOARD (USER_IDX, WRITER, TITLE, CONTENT)
		VALUES (#{user_idx}, #{writer}, #{title}, #{content})
	</insert>
	
	<insert id="imageRegister">
		INSERT INTO TBL_BOARD_IMAGE_FILE (USER_IDX, BOARD_IDX, BOARD_ORIGINAL_IMAGE_PATH, BOARD_THUMBNAIL_IMAGE_PATH)
		VALUES (#{user_idx}, last_insert_id(), #{boardOriginalImagePath}, #{boardThumbnailImagePath})
	</insert>
	
	<update id="imageWhetherChange">
		UPDATE TBL_BOARD 
		SET IMAGE_WHETHER = true
		WHERE IDX = last_insert_id() AND USER_IDX = #{user_idx}
	</update>
	
	<insert id="fileRegister">
		INSERT INTO TBL_BOARD_FILE (USER_IDX, BOARD_IDX, BOARD_FILE_PATH)
		VALUES (#{user_idx}, last_insert_id(), #{boardFilePath})
	</insert>
	
	<update id="fileWhetherChange">
		UPDATE TBL_BOARD
		SET FILE_WHETHER = true
		WHERE IDX = last_insert_id() AND USER_IDX = #{user_idx}
	</update>
	
	<select id="getList" resultType="BoardVO">
		SELECT 
			IDX, 
			USER_IDX,
		    WRITER, 
			TITLE, 
			CONTENT, 
			VIEWS,
			IMAGE_WHETHER, 
			FILE_WHETHER,
		    VIDEO_WHETHER,  
			CREA_TIME
		FROM 
			TBL_BOARD
		ORDER BY IDX DESC
	</select>
	
	<select id="getPage" resultType="BoardVO">
		SELECT 
			TB.IDX,
			TB.USER_IDX, 
			TB.WRITER, 
			TB.TITLE, 
			TB.CONTENT, 
			TB.VIEWS, 
			TB.CREA_TIME, 
			TUF.THUMBNAIL_IMAGE_PATH
		FROM 
			TBL_BOARD AS TB
			INNER JOIN TBL_USER_PROFILE AS TUF
			ON TB.USER_IDX = TUF.USER_IDX
		WHERE TB.IDX = #{idx} AND TB.USER_IDX = #{user_idx}
	</select>
	
	<select id="getFile" resultType="BoardFileVO">
		SELECT BOARD_FILE_PATH 
		FROM TBL_BOARD_FILE
		WHERE BOARD_IDX = #{idx} AND USER_IDX = #{user_idx}
	</select>

	<select id="getImages" resultType="BoardImageVO">
		SELECT BOARD_ORIGINAL_IMAGE_PATH, BOARD_THUMBNAIL_IMAGE_PATH 
		FROM TBL_BOARD_IMAGE_FILE
		WHERE BOARD_IDX = #{idx} AND USER_IDX = #{user_idx}
	</select>
	
	<delete id="deleteBoard">
		delete from tbl_board
		where idx = #{board_idx} and user_idx = #{user_idx} and writer = #{writer}
	</delete>
	
	<delete id="deleteBoardFile">
		delete from tbl_board_file
		where board_idx = #{board_idx} and writer = #{writer}
	</delete>
	
	<delete id="deleteBoardImage">
		delete from tbl_board_image_file
		where board_idx = #{board_idx} and writer = #{writer}
	</delete>
	
	<delete id="modifyDeleteFile">
		delete from tbl_board_file
		where board_idx = #{board_idx} and writer = #{writer} and board_file_path = #{boardFilePath}
	</delete>
	
	<delete id="modifyDeleteImage">
		delete from tbl_board_image_file 
		where board_idx = #{board_idx} and writer = #{writer} and board_image_file_path = #{boardImageFilePath}
	</delete>
	
	<update id="modify">
		update tbl_board 
		set title = #{title}, content = #{content}
		where idx = #{board_idx} and user_idx = #{user_idx} and writer = #{writer}
	</update>

</mapper>