<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.board.mapper.UserMapper">

	<select id="singUpCheck" resultType="String">
		select email from tbl_user
		where email = #{email}
	</select>
	
	<insert id="singUp">
		INSERT INTO TBL_USER (EMAIL, PW, NAME)
		VALUES (#{email}, #{pw}, #{name})
	</insert>
	
	<insert id="profileImageRegister">
		INSERT INTO TBL_USER_PROFILE (USER_IDX, ORIGINAL_IMAGE_PATH, THUMBNAIL_IMAGE_PATH)
		VALUES (last_insert_id(), #{original_image_path}, #{thumbnail_image_path})
	</insert>
	
	<update id="accessAuthEmail">
		update tbl_user set auth_wt = true
		where email = #{email}
	</update>
	
	<select id="loginProgress" resultType="UserVO">
		SELECT IDX, EMAIL, PW, NAME, AUTH_WT, CREA_TIME
		FROM TBL_USER
		WHERE EMAIL = #{email} and pw = #{pw}
	</select>
	
	<select id="getProfileImage" resultType="ProfileImageVO">
		SELECT USER_IDX, ORIGINAL_IMAGE_PATH, THUMBNAIL_IMAGE_PATH, REGISTER_IMAGE_TIME
		FROM TBL_USER_PROFILE
		WHERE USER_IDX = #{idx}
	</select>
	
	<insert id="keepLoginInfo">
		UPDATE TBL_USER
		SET SESSION_KEY = #{sessionKey}, SESSION_LIMIT = #{sessionLimit}
		WHERE IDX = #{idx}
	</insert>
	
	<select id="getKeepLoginInfo" resultType="UserVO">
		SELECT IDX, EMAIL, PW, NAME, AUTH_WT, CREA_TIME
		FROM TBL_USER
		WHERE SESSION_KEY = #{sessionKey} AND SESSION_LIMIT > now()
	</select>
	
	<select id="getUserInfo" resultType="UserVO">
		select idx, email, pw, name, auth_wt, session_key, session_limit crea_time
		from tbl_user
		where email = #{email}
	</select>

</mapper>